*{  
   box-sizing: border-box;
}

.inicio{
    background-color: rgb(120, 51, 184);
    height: 300px;
    padding-top: 180px;
    display: flex;
    justify-content:center;
}

.nav{
    width: 400px;
    height: 400px;
    background-color:rgb(243, 245, 247);
    display:flex;
    border-radius: 10px;
}

.img{
    height: 30px;
    width: 30px;
    margin: 30px;
}

.h1{
    margin-top: 20px;
    font-size: 40px;
}

.parrafo{
    
}